.mono/
configstore/
fish/fishd.*
gcloud/
NuGet/
stetic/
xbuild/
yarn/
csharp.history
.vim/.netrwhist
Microsoft\\VisualStudio Services/

.config/karabiner/automatic_backups/

.config/fish/fish_variables

.config/direnv/allow/
.config/grv/
.config/gatsby/

tmux-client-*.log
